@import "bootstrap";

$wd-kanbas-red: rgb(233, 35, 41);
$wd-kanbas-green: rgb(0, 128, 0);
$wd-kanbas-black: rgb(0, 0, 0);
$wd-kanbas-content-size: 1em;
$wd-kanbas-logo-description-size: 0.8em;

.wd-fa-body-logo {
    @extend .m-2
}

.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 80px;
    height: 100%;
    left: 0px;
    top: 0px;
}
.wd-kanbas-navigation li {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
    text-align: center;
}
.wd-kanbas-navigation li.wd-active {
    background-color: white;
}
.wd-kanbas-navigation li.wd-active a {
    color: $wd-kanbas-red;
}
.wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
}
.wd-kanbas-navigation a i {
    color: $wd-kanbas-red;
    font-size: 2em;
    margin-bottom: 5px;
}
.wd-logo{
    width: 70px;
}
.wd-flex-grow-1 {
    flex-grow: 1;
}
.wd-flex-row-container {
    display: flex;
    flex-direction: row;
}
.wd-top-nav {
    margin: 0;
    padding: 10px;
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.breadcrumb-item > a {
    color: $wd-kanbas-red;
}
.wd-side-navigation {
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 125px;
    margin: 0px;
    margin-left: 20px;
}
.wd-side-navigation li {
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.wd-side-navigation li.wd-active {
    border-left: 2px solid black;
}
.wd-side-navigation li.wd-active a {
    color: black;
}
.wd-side-navigation a {
    color: $wd-kanbas-red;
    text-decoration: none;
}
.wd-rectangle-grey-button {
    margin: 2px;
    min-height: 36px;
    background: #eeeeee;
}
.wd-rectangle-red-button {
    margin: 2px;
    min-height: 36px;
    background: $wd-kanbas-red
}
.wd-column-element {
    margin: 15px
}

.wd-row-element {

}
